* {
    box-sizing: border-box;
}

body {
    background: #A21232;
    font-family: 'Times New Roman', Times, serif;
}

.title {
    width: 400px;
    height: 100px;
    color: #1A1831;
    background-color: #DECE9C;
    border: 10px solid #20615B;
    padding: 20px;
    margin: 20px auto;
    text-align: center;

}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    width: 200px;
    height: 50px;
    color: #1A1831;
    background-color: #DECE9C;
    border: 5px solid #20615B;
    padding: 10px;
    margin: 10px auto;
    text-align: center;

}

a {
    color: #1A1831
}

.home {
    background-color: #DECE9C;
    border: 5px solid #20615B;
}